.intro {
  margin: auto;
  width: 70%;
  padding: 20px;
  text-align: center;
}

.header{
  font-size: 40px;
}

.content{
  font-size: 15px;
}

body{
  background-color:#ccffff;
}

.landingPageButton{
 margin: 15%; 
  font-size: 15pt;
  border-radius: 20px;
  padding: 2%;
}

#errorMsg{
  color: red;
  background-color:#03d7fc;
  width: 20%;
  margin: auto;
  padding: 5px;
  border-radius: 30px;
}